# Ignore virtual environment
venv/

# # Ignore model files (optional, remove if you want to upload)
# models/*.pth

# Ignore cache and temporary files
__pycache__/
*.pyc
*.pyo
*.log
*.tmp
*.DS_Store

# Ignore Python packages
*.egg-info/
dist/
build/

# Ignore environment variables
.env

# Ignore VS Code settings (optional)
.vscode/
